.ug.img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.col img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center; /* center horizontally */
}
.marquee {
  display: flex;
}

footer {
  background-color: black;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 15px 0;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}
.links a {
  text-decoration: none;
  color: white;
}
.footer-left h1 {
  font-size: 30px;
  font-weight: 700;
}

.footer-right {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-weight: 700;
}

.copyright {
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
