@import "tailwindcss";

body {
  padding-top: 54px;
}
main {
  width: 100%;
  height: 140vh;
}

/*Hero section*/
.hero-section {
  width: 100%;
  height: 30vh;
  background: url(../Images/gg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
}
.hero-section p {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

/*Contact form*/

.contact-form {
  width: 100%;
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr; /*fr means free-space so 1fr 1fr states that every column of the grid will take half the whole place each*/
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.informations h2 {
  font-size: 30px;
  font-weight: 600;
}
.informations h3 {
  font-size: 24px;
}

.personnal-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  padding: 5px;
  border-radius: 100%;
  background-color: lightblue;
}

.contact {
  padding: 20px;
}

.contact h2 {
  font-size: 30px;
  font-weight: 600;
}

.contact form {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact label {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

.contact input,
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 6px;
}

.contact button {
  padding: 8px;
  background-color: rgb(250, 212, 141);
  cursor: pointer;
  border-radius: 8px;
  margin-top: 5px;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.contact button:hover {
  background-color: rgb(253, 232, 191);
}

footer {
  background-color: black;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 15px 0;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}
.footer-left h1 {
  font-size: 30px;
  font-weight: 700;
}

.links a {
  color: white;
  text-decoration: none;
}

.footer-right {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-weight: 700;
}

.copyright {
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .contact-form {
    width: 100%;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .contact {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
