@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/Inter/Inter-VariableFont_opsz\wght.ttf);
}
body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins";
}

.image-background-holder {
  position: relative;
  background-color: black;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.image-background-holder .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.image-background-holder .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 110%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.image-background-content {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffc107;
}
.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  line-height: 0;
}

.marquee-content.image-marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-scroll 15s linear infinite;
  white-space: nowrap;
}

.marquee-item {
  display: inline-block;
  height: 90px;
  width: auto;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 8px;
}

.marquee-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

@keyframes marquee-scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-130%, 0);
  }
}
.container text-center {
  background-color: peru;
}
.story {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 15px 0;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}
.footer-left h1 {
  font-size: 30px;
  font-weight: 700;
}

.links a {
  color: white;
  text-decoration: none;
}

.footer-right {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-weight: 700;
}

.copyright {
  padding: 15px 0;
  text-align: center;
}
@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
